<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GitHub Issue Redirector</title>
</head>

<body>
    <p>Parsed date: {{ dateString }}</p>
    <p>Redirect to: {{ redirUrl }}</p>
    <p>Bookmark this link: <a href="{{{ bookmarkLink }}}">{{{ bookmarkLink }}}</a></p>
</body>

</html>